<%- include('header') -%>

<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia temporibus, dignissimos quis omnis ipsam perferendis, nihil iste, a explicabo rem laborum at voluptatem modi saepe distinctio aut. Excepturi fuga, nam dicta culpa corrupti assumenda sunt amet porro quos. Aliquam voluptate dolorum iste, dolores illo autem temporibus magni impedit expedita sint!</p>

 <%- include('footer') -%>